<div class="form-input-container">
  <div class="form-header">
    <span class="form-title" *ngIf="!selectedTable">Thêm bàn</span>
    <span class="form-title" *ngIf="selectedTable">Sửa bàn</span>

    <div class="form-close" (click)="onCloseSidenav()">
      <svg
        width="24"
        height="24"
        viewBox="0 0 24 24"
        fill="none"
        xmlns="http://www.w3.org/2000/svg"
      >
        <path
          fill-rule="evenodd"
          clip-rule="evenodd"
          d="M18 7.05L16.95 6L12 10.95L7.05 6L6 7.05L10.95 12L6 16.95L7.05 18L12 13.05L16.95 18L18 16.95L13.05 12L18 7.05Z"
          fill="#9FA4AA"
        />
      </svg>
    </div>
  </div>
  <form
    [formGroup]="formGroup"
    class="form-container"
    (keydown.enter)="$event.preventDefault()"
  >
    <div fxLayout="column" class="form" style="height: calc(100vh - 500px)">
      <div fxLayout="column">
        <mat-label>Name <span style="color: red">*</span></mat-label>
        <mat-form-field appearance="fill" fxFlex>
          <input matInput type="text" formControlName="name" />
        </mat-form-field>
      </div>
      <div fxLayout="column">
        <mat-label>Sức chứa <span style="color: red">*</span></mat-label>
        <mat-form-field appearance="fill" fxFlex>
          <input matInput type="text" formControlName="capacity" />
        </mat-form-field>
      </div>
      <div fxLayout="column">
        <mat-label>Tầng <span style="color: red">*</span></mat-label>
        <mat-form-field appearance="fill" fxFlex>
          <mat-select floatlLabel="never" formControlName="floor">
            <mat-option [value]="null"> --- </mat-option>
            <mat-option
              *ngFor="let option of floorOption"
              [value]="option.numberFloor"
            >
              {{ option.numberFloor }}
            </mat-option>
          </mat-select>
        </mat-form-field>
      </div>
      <!-- <div class="btn-add">
        <svg
          width="16"
          height="16"
          viewBox="0 0 16 16"
          fill="none"
          xmlns="http://www.w3.org/2000/svg"
        >
          <path
            fill-rule="evenodd"
            clip-rule="evenodd"
            d="M8.5 7.5V3.5H7.5V7.5H3.5V8.5H7.5V12.5H8.5V8.5H12.5V7.5H8.5Z"
            fill="white"
          />
        </svg>
        <span> Thêm tầng </span>
      </div> -->
    </div>
    <div class="footer">
      <div class="form-action">
        <button
          mat-raised-button
          color="primary"
          class="clear"
          (click)="onSubmit()"
        >
          Cancel
        </button>

        <button
          class="generate"
          [class.disabled]="!formGroup.valid"
          [disabled]="!formGroup.valid"
          mat-raised-button
          color="primary"
          (click)="onSubmit()"
        >
          Submit
        </button>
      </div>
    </div>
  </form>
</div>
