.food-detail-container {
    padding: 16px;

    .header {
        display: flex;
        justify-content: space-between;
        gap: 8px;
        .header-title {
            .header-content {}
        }
    }

    .body {
        padding: 16px 0px;
        table{
            width: 100%;
        }
        table,
        th,
        td {
          border: 1px solid #d9dbdd;
          border-collapse: collapse;
          padding: 10px 8px;
          vertical-align: middle;
          text-align: center;
          word-wrap: break-word;
        }
    }

    .footer {
        display: flex;
        justify-content: space-evenly;
        gap: 16px;
        padding: 8px 0px;
        .checkout-action {
        padding: 16px;
        box-shadow: 0px 4px 8px rgb(0 0 0 / 12%);
        cursor: pointer;
        }

        .print-action {
        padding: 16px;
        box-shadow: 0px 4px 8px rgb(0 0 0 / 12%);
        cursor: pointer;
        }
    }
}