<div class="food-list-container">
  <mat-spinner *ngIf="!init"></mat-spinner>
  <div class="food-list" *ngIf="init">
    <div
      class="food"
      *ngFor="let food of filteredData"
      (click)="openDetail(food)"
    >
      <img
        alt="../../../assets/No-Image-Placeholder.svg.png"
        src="{{ food.urlImage }}"
      />
      <div class="food-info">
        <span class="food-name">{{ food.name }}</span>
        <span class="food-price">{{ food.price }} VND</span>
        <span class="food-type">{{ food.type }}</span>
        <div class="food-total">
          <span class="food-total-text">Tổng số còn lại : </span
          >{{ food.total }}
        </div>
      </div>
    </div>
  </div>
</div>
