.dashboard-container {
  padding: 24px;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  gap: 24px;
  .row {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 24px;
  }
  .chart-row {
    display: grid;
    grid-template-columns: minmax(350px, 520px) minmax(500px, auto);
    gap: 24px;
  }
}
