<div class="sidenav-container">
  <div class="sidenav-logo"></div>
  <div class="sidenav-menu">
    <mat-nav-list>
      <ng-container
        *ngFor="
          let content of sidenavContents;
          let i = index;
          let isLast = last
        "
      >
        <a
          [routerLink]="content.navLink"
          (click)="selectMenu(content.navLink)"
          [ngClass]="selectedMenu == content.navLink ? 'active' : ''"
        >
          <mat-list-item>
            <mat-icon
              [matTooltip]="content.name"
              matTooltipPosition="above"
              svgIcon="{{ content.svgIcon }}"
            >
            </mat-icon>
            <span class="nav-name">{{ content.name }}</span>
          </mat-list-item>
        </a>
      </ng-container>
    </mat-nav-list>
  </div>
</div>
